<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="win_form_test.Properties.Settings.lab_13ConnectionString"
            connectionString="Data Source=DESKTOP-GOD0D30\SQLEXPRESS;Initial Catalog=&quot;lab 13&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="win_form_test.Properties.Settings.DB_Project_TestConnectionString"
            connectionString="Data Source=DESKTOP-GOD0D30\SQLEXPRESS;Initial Catalog=DB_Project_Test;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>